version: "3.8"

services:
  apache:
    image: httpd:2.4
    container_name: apache
    ports:
      - "80:80"
    volumes:
      - .:/usr/local/apache2/htdocs
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    driver: bridge